<% include partials/header.ejs %>

<!--Header-->
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Welcome to YelpCamp!</h1>
    <p class="lead">Find the best campgrounds to plan your next escape!</p>
</div>

<% include partials/footer.ejs %>